<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<body>

<div layout:fragment="content" class="pure-g">
    <!--/*@thymesVar id="vendedor" type="uol.pagseguro.entity.SellerEntity"*/-->
    <!--/*@thymesVar id="comanda" type="uol.pagseguro.entity.ComandaEntity"*/-->
    <div class="pure-u-1-5"></div>

    <div class="pure-u-3-5">
        <h2 th:text="'Comandas - '+ ${vendedor.email}">Comandas</h2>

        <p th:text="'Comanda ' + ${comanda.idComanda}">idComanda</p>
        <p th:text="'Status ' + ${comanda.status}">Status</p>
    </div>

    <div class="pure-u-1-5"></div>

</div>

</body>
</html>