<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<body th:class="${isHome} != null ? 'home' : ''">

<meta name="viewport" content="width=940" />

<div layout:fragment="content">
    <!--/*@thymesVar id="vendedor" type="uol.pagseguro.entity.SellerEntity"*/-->

    <div class="wrapper">
        <small class="seller-email" th:text="${vendedor.email}"></small>

        <!--/*@thymesVar id="comandas" type="List<uol.pagseguro.vo.ComandaVO>"*/-->
        <!--/*@thymesVar id="comanda" type="uol.pagseguro.vo.ComandaVO"*/-->
        <a th:if="${!#lists.isEmpty(comandas)}" th:each="comanda : ${comandas}"
           th:class="${comanda.status} + '-status' +' status-list-item'" th:href="|/web/comanda/${comanda.idComanda}|">
            <p th:text="'Comanda ' + ${comanda.idComanda}">idComanda</p>
        </a>

    </div>

</div>

</body>
</html>